/node_modules
/public/hot
/public/storage
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.data
.htaccess
composer-setup.php
composer.phar
index.php
/public/storage/framework/laravel-excel

/mot/nbproject/private/
.idea/*
/.idea
/.idea/*

**/.DS_Store