.idea/mall-of-turkey.iml
.idea/php.xml
.env
.env.backup
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/framework/laravel-excel
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/model.php
.idea/*
/.idea
/.idea/*
/public/assets/frontend/assets/css/*.css
public/assets/frontend/assets/css/*.css
**/.idea/workspace.xml
**/.idea/tasks.xml
.idea/workspace.xml
.idea/
/storage/*
